//@media (max-width: 1200px)
@media (max-width: 991px){
    .header{
        &__nav{
            position: fixed;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            top: 0;
            left: -100%;
            width: 50%;
            height: 100vh;
            background-color: rgba(213,250,252, 1);
            z-index: 2;
            transition: all 0.6s;
            &_active{
                left: 0;
            }
            li{
                margin: 20px 0;
                
            }
            a{
                font-size: 20px;
            }
        }
        &__hamburger{
            display: block;
            position: absolute;
            right: 10px;
            width: 26px;
            height: 12px;
            span{
                display: block;
                height: 2px;
                width: 100%;
                background-color: #000;
                margin-bottom: 2px;
                transition: 0.5s all;
            }
            &_active{
                span{
                    margin-bottom: -2px;
                    &:nth-child(1){
                        transform: translateY(3px) rotate(-45deg);
                    }
                    &:nth-child(2){
                        display: none;
                    }
                    &:nth-child(3){
                        transform: translateY(3px) rotate(45deg);
                    }
                }
            }
        }
    }
    .features{
        &__wrapper{
            justify-content: space-around;
        }
    }
    .reviews{
        &__wrapper{
            flex-wrap: wrap;
        }
        &__subtitle{
            text-align: center;
        }
        &__item{
            width: 487px;
            &_large{
                margin-left: 0;;
            }
        }
    }
    .progress{
        padding-top: 50px;
        padding-bottom: 0;
        &__subtitle{
            margin-bottom: 15px;
            text-align: center;
        }
    }
    .content{
        min-height: 350px;
        padding: 0;
        &__wrapper{
            img{
                width: 50%;   
            }
        }
    }
    .title{     
        &_symbol{
            &::before{
                left: -50px;
                top: -25px;
                width: 75px;
                height: 65px;
            }
        }
    }
    .mobile{
        padding: 15px 0;
        &__img{
            display: none;
        }
        &__item{
            flex-basis: auto;
        }
    }
    .phone{
        &_header{
            align-items:flex-end;
        }
    }
}
@media (max-width: 767px){    
    .main{
        padding: 0;
        &__title{
            margin-top: 43px;
            line-height: 68px;
        }
        &__btn{
            width: 137px;
            height: 40px;
            font-size: 13px;
            margin-left: 70px;
        }
        &__img{
            width: 50%;
        }
    }

    .progress{
        padding: 30px 0;
        &__wrapper{
            flex-direction: column;
        }
        &__subtitle{
            margin-bottom: 15px;
        }
        &__info{
            &_wrap{
                margin: 0 auto;
                justify-content: flex-end;
            }
        }
        &__item{
            flex-basis: 45%;
        }
    }
    .reviews{
        &__items{
            margin-left: 0;
        }
    }
    .content{
        &__wrapper{
            flex-direction: column-reverse;
        }
        &__descr{
            margin: 0;
        }
        &__text{
            width: 100%;
            text-align: center;
        }
        &__link{
            text-align: center;
        }
        &__img{
            margin-top: 15px;
        }
    }
    .fashion{
        min-height: inherit;
        &__wrapper{
            flex-direction: column;
        }       
    }
    .footer{
        &__menu{
            flex-wrap: wrap;
        }
    }
    .title{
        text-align: center;
        font-size: 34px;
        &_symbol{
            &::before{
                left: 39px;
                top: -20px;
                width: 47px;
                height: 41px;
            }
        }
    }
    .phone{
        &_header{
            a{
                width: 100%;
            }
            &_active{
                flex-direction: column;
            }
        }
    }
}
    
@media (max-width : 575px){
    .header{
        min-height: inherit;
    }
    .main{
        &__wrapper{
            flex-direction: column;
        }
        &__img{
            width: 100%;
        }
    }
    .partners{
        &__items{
            flex-wrap: wrap;
            li{
                margin-right: 15px;

            }
        }
    }
    .reviews{
        padding: 30px 0;
        &__item{
            width: 291px;
        }
        &__text{
            font-size: 13px;
            line-height: 26px;
        }
    }
    .progress{
        &__info{
            &_wrap{
                justify-content: inherit;
                flex-direction: column;
                align-items: flex-start;
            }
        }
    }
    .content{
        &__wrapper{
            img{
                width: 100%;
            }
        }
    }
    .fashion{
        padding: 27px 0;
        &__descr{
            margin-top: 10px;
            font-size: 14px;
            line-height: 28px;
        }
    }
    .phone{
        &_header{
            width: 204px;
            &_active{
                display: none;
            }
            img{
                width: 100%;
            }
        }
    }
    .title{
        font-size: 18px;
    }

}

